body {

    overflow: hidden;

}
header,#helpbutton{
	display: block;
	margin:0 auto;
	/*width:500px;*/
	width:100%;/*手机*/
	text-align: center;
}

header h1{
	font-family: Arial;
	/*font-size: 60px;*/
	font-size: 40px;/*手机*/
	font-weight: bold;
}

header #newgamebutton,#helpbutton{
	display:block;
	margin:20px auto;

	width:100px;
	padding:10px;
	background-color: #8f7a66;

	font-family: Arial;
	color:white;

	border-radius: 10px;
		
	text-decoration: none;/*去掉下划线*/
}

header #newgamebutton,#helpbutton:hover{
	background-color: #9f8b77;
}

header p{
	font-family: Arial;
	font-size: 25px;
	margin:20px;
}

#grid-container{
	width:460px;
	height:460px;
	padding:20px;

	margin:10px auto;
	background-color: #bbada0;

	border-radius: 10px;
	position: relative;
}

.grid-cell{
	width:100px;
	height:100px;
	border-radius:6px;
	background-color: #ccc0b3;

	position:absolute;
}

.number-cell{
	border-radius: 6px;
	font-family: Arial;
	font-size: 60px;
	font-weight: bold;
	line-height: 100px;
	text-align:center;

	position:absolute;
}
a{
	text-decoration: none;
	color:black;
}

/*.a{
	width:0px;
	height:0px;
	border-right:200px solid transparent;
	border-bottom:200px solid green;
}*/


